<div class="content-background">
  <div class="main-container">
    <div class="left-text">
      <div class="roboto_A">WHY</div>
      <div class="roboto_B">US?</div>
    </div>
  
    <div class="options-container">
      <div class="option-card">
        <div class="icon-container">
          <img src="assets/1st.png" alt="Buy a Home">
        </div>
        
        <h3>Discover your dream home with expert guidance and exclusive deals.</h3>
      </div>
      <div class="option-card">
        <div class="icon-container">
          <img src="assets/2nd.png" alt="Rent a Home">
        </div>
        <h3>Seamless rental search, top locations, and flexible living options</h3>
    
      </div>
      <div class="option-card">
        <div class="icon-container">
          <img src="assets/3rd.png" alt="Sell a Home">
        </div>
        <h3>We approve every rental, guaranteeing a worry-free experience for you.</h3>
      </div>
    </div>
  </div>
</div>
