<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>ABOUT US</h4>
        <p>Discover your dream home with expert and exclusive deals. </p>
        <p>Seamless rental search, top locations, and flexible living options.</p>
        <p> We approve every rental, guaranteeing a worry-free experience for you.</p>
      </div>
      <div class="footer-section">
        <h4>OTHER LINKS</h4>
        <ul>
          <li><a (click)="navigateTo('/home')">Home</a></li>
          <li><a (click)="navigateTo('/properties')">Properties</a></li>
          <li><a (click)="navigateTo('/agents')">Agent</a></li>
          <li><a (click)="navigateTo('/reviews')">Reviews</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>RELATED LINKS</h4>
        <ul>
          <li><a (click)="navigateTo('/about')">About Us</a></li>
          <li><a (click)="navigateTo('/why-buy')">Why Buy With Us?</a></li>
          <li><a (click)="navigateTo('/our-agent')">Our agent</a></li>
          <li><a (click)="navigateTo('/contact')">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024. DORMIFY ALL RIGHTS RESERVED.</p>
    </div>
  </footer>
  